@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="welcome">Seja Bem Vindo!!!</h1>
    <p class="sub">Gerencie sua empresa </p>
    <div class="container-tag">
        <button class="tag">
        <a href="https://localhost:7239/Pais/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar País
        </a>
    </button>
        <button>
        <a href="https://localhost:7239/Estado/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Estado
        </a>
    </button>
        <button>
        <a href="https://localhost:7239/Cidade/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Cidade
        </a>
    </button>
    <button>
        <a href="https://localhost:7239/Fornecedor/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Fornecedor
        </a>
    </button>
    <button>
        <a href="https://localhost:7239/TipoProduto/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Tipo de Produto
        </a>
    </button>
    <button>
        <a href="https://localhost:7239/Produto/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Produto
        </a>
    </button>
    <button>
        <a href="https://localhost:7239/Usuario/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Usuário
        </a>
    </button>
    <button>
        <a href="https://localhost:7239/TipoSaida/Index" class="tag">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
            </svg> Adicionar Tipo de Saída
        </a>
    </button>
        <button>
            <a href="https://localhost:7239/SaidaProduto/Index" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Saída
            </a>
        </button>
        <button>
            <a href="https://localhost:7239/EntradaProduto/Index" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Entrada
            </a>
        </button>
        <button>
            <a href="https://localhost:7239/Cliente/Index" class="tag">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                </svg> Adicionar Cliente
            </a>
        </button>
    </div>
</div>
